@import url('./assets/fonts/stylesheet.css');
$small: 768px;
$max: 1360px;

@mixin btnstyle {
    height: 50px;
    &:hover{
        background-color: cornflowerblue;
        color: white;
    };
}
.mobnum{
    color: white;
    font-family: 'poppinsbold';
    padding-top: 25px;
}
.navsection{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    padding-left: 157px;
    padding-right: 189px;
}
.inline{
    display: inline;
}
.section-1{
    @media screen and (max-width : $small) {
        // text-align: center;
        display: flex;
        justify-content: center;
    }
}
.header_page{
    // background-color: rgb(32, 32, 92);
    height: 860px;
    background-image: url(./assets/IMG-7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    // object-fit: cover;
    background-size: cover;
    @media screen and (max-width: $small) {
        height: 1230px;
    }
}
.header_text{
    color: white;
    font-family: 'poppinsmedium';
    @media screen and (max-width: $small) {
        text-align: center;
        font-size: 20px;
    }
}

.baby-image{
    width: 100%;
    border: 1px white solid;

}
.baby-image1{
    width: 100%;
    height: 100%;
}
.sec-1-col1{
    height: 428px;
}

.sec-1-form{
    background-color: white;
    height: 428px;
    text-align: center;
}
.sec-1-col-h3{
    color: black;
    text-align: center;
    padding-top: 15px;
}

// .form{
//     height: 80%;
//     width: 75%;
//     margin: auto;
//     margin-top: 50px;
// }
@mixin inputstyle{
    width: 70%;
    margin-top: 20px;
    border: 1px black solid;
} 
.input{
    @include inputstyle();
    height: 40px;
}
.input-adrs{
    @include inputstyle();
    height: 80px;
}
// @mixin btn {
//     margin-top: 20px;
//     height: 50px;
//     background-color: royalblue;
//     border: none;
//     &:hover{
//         background-color: navy;
//     }
// }
.btn1{
    width: 70%;
    background-color:rgb(46, 193, 247) ;
    height: 50px;
    margin-top: 20px;
    border: none;
    color: white;
    font-family: 'poppinsbold';
    &:hover{
        background-color: lightgray;
    }
}

.logopage{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;
    position: relative;
    @media screen and (max-width: $small) {
        flex-direction: column;
        text-align: center;
        height: 500px;
    }
    @media screen and (min-width: $small) and (max-width: 920){
        flex-wrap: wrap;
    }
}
// .logo1{
//     width: 20%;
//     position: absolute;
// }
// .logo2{
//     width: 20%;
//     margin-left: 20%;
//     position: absolute;
// }
// .logo3{
//     width: 20%;
//     margin-left: 40%;
//     position: absolute;
// }
// .logo4{
//     width: 20%;
//     margin-left: 60%;
//     position: absolute;
// }
// .logo5{
//     width: 20%;
//     margin-left: 80%;
//     position: absolute;
// }



@mixin style {
    width: 700px;
    height: 300px;
    margin: auto;
    margin-top: 70px;

}
.cord-blood-bank-parent{
    text-align: center;
    font-family: 'poppinsmedium';

}
.circle-parent{
    @include style();
    background-image: url(./assets/img1.png);
    background-size: 100% 100%;
    // background-repeat: no-repeat;
}
.circle-child{
    height: 225px;
    width: 225px;
    background-color: rgb(32, 32, 92);
    color: white;
    text-align: center;
    border-radius: 128px;
    padding-top: 55px;
}
// .btn3{
//     @include btn();
//     width: 200px;
//     margin-left: 500px;
// }
.section-5{
    height: 160px;
    text-align: center;
    padding-top: 25px;
}
.section-8{
    background-color: rgb(236, 248, 250);
    height: 600px;
    @media screen and (max-width:992px) {
        height: 1100px;  
    }
}
.sec-row{
    width: 75%;
    margin-left: 145px;
    padding-top: 70px;
    // @media screen and (max-width: $small) {
    //     width: 0%;
    //     margin-left: 0px;
    //     padding-top: 0px;
    // }
}
.sec-8-img{
    width: 100%;
    height: 80%;
    text-align: center;
    border-radius: 8px;
    @media screen and (max-width:992px) {
        width: 50%;
    }
}
.sec-8-col p{
    color: gray;
}
.sec-8-col h2{
    color: navy;
}

.sec-8-btn1{
    width: 100%;
    color: white;
    background-color: rgb(32, 32, 80);
    border: none;
    @include btnstyle();
}
.sec-8-btn2{
    background-color: white;
    color: gray;
    border: 1px navy solid;
    width: 150px;
    font-size: 13px;
    @include btnstyle();
}
.section-7{
    height: 160px;
    text-align: center;
    padding-top: 40px;
}
.sec-7-btn{
    @include btnstyle();
    border: 1px navy solid;
    color: gray;
    background-color: white;
}
.sec-6-col{
    text-align: center;
}
.section-4{
    height: 600px;
    background-color: rgb(236, 248, 250);
    @media screen and (max-width:992px) {
        height: 1362px;  
        text-align: center;
    }

}
// .sec-4-col1{
//     height: 340PX;
//     width: 310px;
//     @media screen and (min-width:992) {
//         // height: 420px;
//         background-color: black;
//     }

//     // @include sec-4-res();
// }
.sec-4-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec-4-col2{
    height: 350px;
    width: 310px;
    padding-left: 15px;
    font-size: 15px;
    // @media screen and (min-width:992) {
    //     height: 420px;
    // }

}
.sec-4-col3{
    background-color: rgb(32, 32, 80);
    width: 310px;
    height: 330px;
    color: white;
    padding: 50px;
    // @media screen and (min-width:992) and (max-width:1400) {
    //     height: 420px;
    // }
}
.footer{
    height: 150px;
    color: lightgray;
    .para{
        color: gray;
        text-align: center;
        padding-top: 50px;
    }
}